GenerateProject
ProvideFormulaName
PresetRemoveOne
PresetAddOne
PresetEmpty
TestOnDebianOnly
TestOnRockyOnly
TestOnAlmaOnly
TestEmptyOSes
FailurePermittedDebianOnly12Master
FailurePermittedDebianOnlyAllMaster
FailurePermittedDebianOnlySimplePattern
FailurePermittedDebianOnlyVerbosePattern
