GenerateProject
ReleaseNotOnGHA
ProvideFormulaName
ProvideEmptyFormulaName
BannerWithFormulaName
PresetRemoveOne
PresetAddOne
PresetEmpty
IgnorePresetDefaultEmpty
IgnorePresetAddOne
IgnorePresetAddTwo
FailurePermittedDebianOnly12Master
FailurePermittedDebianOnlyAllMaster
FailurePermittedDebianRockySimplePattern
FailurePermittedDebianRockyVerbosePattern
Testing
ReleaseStyle
