GenerateProject
ProvideFormulaName
PresetRemoveOne
PresetAddOne
PresetEmpty
IgnorePresetDefaultEmpty
IgnorePresetAddOne
IgnorePresetAddTwo
TestOnDebianOnly
TestOnRockyOnly
TestOnAlmaOnly
TestEmptyOSes
FailurePermittedDebianOnly12Master
FailurePermittedDebianOnlyAllMaster
FailurePermittedDebianOnlySimplePattern
FailurePermittedDebianOnlyVerbosePattern
