{
$schema: 'https://docs.renovatebot.com/renovate-schema.json',
extends: [
  "github>saltstack-formulas/.github"
],
/**********************************************************
 * This file is managed as part of a Copier template.     *
 * Please make any changes below this comment.            *
 *********************************************************/
}
