The following new files/directories were created:
<Test Directory>
----.copier-answers.ssf-ci.yml
----.github
--------renovate.json5
--------workflows
------------main.yml
----.gitignore
----.gitlab-ci.yml
----.pre-commit-config.yaml
----.rstcheck.cfg
----.rubocop.yml
----.salt-lint
----.yamllint
----commitlint.config.js
----kitchen.yml
