The following new files/directories were created:
<Test Directory>
----.copier-answers.ssf-ci.yml
----.github
--------renovate.json5
--------workflows
------------main.yml
----.gitignore
----.gitlab-ci.yml
----.pre-commit-config.yaml
----.rstcheck.cfg
----.rubocop.yml
----.salt-lint
----.yamllint
----Gemfile
----Gemfile.lock
----commitlint.config.js
----kitchen.yml
----pre-commit_semantic-release.sh
----release-rules.js
----release.config.js
