{
$schema: 'https://docs.renovatebot.com/renovate-schema.json',
/**********************************************************
 * This file is managed as part of a Copier template.     *
 * Please make your own changes below this comment.       *
 *********************************************************/
}
