The following new files/directories were created:
<Test Directory>
----.copier-answers.ssf-ci.yml
----.github
--------renovate.json5
--------workflows
------------main.yml
----.gitlab-ci.yml
----.pre-commit-config.yaml
----commitlint.config.js
----kitchen.yml
